<div class="console-container">
    <header class="header">
        <logo>
            <img src="/images/ryde-logow.svg">
        </logo>
        <user class="user-button">
            <div class="user-initials">PN</div>
            <span>Paul Nicholson</span>
        </user>
    </header>
    <div class="console-body">
        <nav class="console-nav">
          <ul>
              <li>Menu item 1</li>
              <li>Menu item 2</li>
              <li>Menu item 3</li>
              <li>Menu item 4</li>
              <li>Menu item 5</li>
              <li>Menu item 6</li>
          </ul>
        </nav>

        <main class="console-main">
            <h1>Welcome to the {{title}} page</h1>

            <p>To Logout click button -> <a href="/login" class="loginButton">Logout</a></p>
        </main>
    </div>
    <footer class="footer">Footer</footer>
</div>
