<div class="platform-page">

  <header class="header">
      <logo>
        <img src="/images/ryde-logow.svg">
      </logo>
      <user class="user-button">
        <div class="user-initials">PN</div>
                <span>{{user.username}}</span>
      </user>
  </header>

  <!-- <aside class="aside aside-1">
    <ul>
        <li>Menu item 1</li>
        <li>Menu item 2</li>
        <li>Menu item 3</li>
        <li>Menu item 4</li>
        <li>Menu item 5</li>
        <li>Menu item 6</li>
    </ul>
  </aside> -->

  <content class="main">
      <h1>Welcome to the Console</h1>

      <p>To Logout click button -> <a href="/logout" class="loginButton">Logout</a></p>
  </content>
  <footer class="footer">Footer</footer>
</div>


<!-- <div class="platformpage">

    <div class="menubar">
        <ul>
            <li>Menu item 1</li>
            <li>Menu item 2</li>
            <li>Menu item 3</li>
            <li>Menu item 4</li>
            <li>Menu item 5</li>
            <li>Menu item 6</li>
        </ul>
    </div>
    <div class="contentbody">
        <h1>Welcome to the {{title}} page</h1>

        <p>To Logout click button -> <a href="/login" class="loginButton">Logout</a></p>
    </div>

</div> -->
