<h1>Welcome to the Marketing page for {{title}}</h1>

<p>To Login click button -> <a href="/login" class="loginButton">Login Page</a></p>
<p>To Register click button -> <a href="/register" class="loginButton">Register Page</a></p>
