<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="loginForm">
    <form action="#">
        <label for="email">Email:</label><br>
        <input type="email" name="email" placeholder="Enter your email address"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" placeholder="Enter your password"><br>
        <input type="submit" value="Login">
    </form>
</div>