<div class="login-page">
    <div class="loginForm">
        <div class="login-logo"><img class="ryde-logo" src="/images/ryde-logo.svg"></div>

        <form action="/console">
            <label for="username">Username:</label><br>
            <input type="email" name="email" placeholder="Create a username"><br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter a password"><br>
            <label for="password">Verify password:</label>
            <input type="password" name="password" placeholder="Verify your password"><br>

            <div class="center">
                <a href="/" class="loginCancel">Back</a>
                <input class="loginSubmit" type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
