.platform-page
    width: 100%
    height: 100%
    display: flex
    background-color: $grey1
    flex-direction: row
    box-sizing: border-box

    ul

        li
            list-style: none

    .topbar
        order: 1
    .menubar
        order: 1
        background-color: $grey2

    .contentbody
        order: 4
